{:aliases {:dev {:extra-paths ["src/dev"]}
           :test {:extra-deps {lambdaisland/kaocha {:mvn/version "0.0-554"}}}
           :pack {:extra-deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                                :sha "2769a6224bfb938e777906ea311b3daf7d2220f5"}}
                  :main-opts ["-m"]}

           :uberjar {:extra-deps {uberdeps {:mvn/version "0.1.6"}}
                     :main-opts ["-m" "uberdeps.uberjar"]}
           }
 :deps {org.clojure/clojure {:mvn/version "1.10.0"}}
 :paths ["src/main"]}
