{:lint-as {com.kardans.taxa.flow.clj/taxed-let clojure.core/let
           com.kardans.taxa.flow.cljs/taxed-let clojure.core/let}
 :output {:exclude-files ["src/dev/com/kardans/taxa/example.cljc"]}}
 }
